@import "@StyleCommon/colors.scss";
@import "@StyleCommon/fonts.scss";
@import "@StyleCommon/other-patterns.scss";

#button-component {
    height: 40px;
    width: 100%;
    padding: 20px 0;
    border-radius: $border-radius;
    background-color: $color-blue;
    color: $color-white;
    font-size: 18px;
    font-weight: $fweight-light;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $standard-box-shadow;
    transition: background-color 200ms;
    &:active {
        background-color: $color-light-green;
    }
    &:disabled {
        background-color: $color-gray;
        cursor: not-allowed;
    }
}
