@import "@StyleCommon/colors.scss";
@import "@StyleCommon/fonts.scss";
@import "@StyleCommon/other-patterns.scss";
@import "@StyleCommon/mixins.scss";

#login-page {
  display: flex;
  flex-direction: column;

  @include page-basic;

  > .presentation {
    background-image: url("~@Images/office-bg.jpg");
    background-size: contain;
    box-shadow: $standard-box-shadow;

    > .presentation-text-wrapper {
      height: 100%;

      justify-content: center;
      display: flex;
      align-items: center;

      padding: 60px 100px;

      background-color: rgba($color: #000000, $alpha: 0.75);
      > p {
        font-weight: 400;
      }
    }
  }

  > .modules-and-login {
    display: flex;
    flex: 1;

    > .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 100px;
      flex: 1;

      > .module-wrapper {
        &:not(:first-of-type) {
          margin-top: 40px;
        }
        > .module-title {
          font-size: 48px;
          font-weight: $fweight-light;
          font-weight: 500;
        }
        > .module-content {
          font-size: 14px;
          margin: 10px 0 20px 0;
          font-weight: 400;
        }
        .module-button {
          background-color: $color-green;
          padding: 12px 24px;
          border-radius: $border-radius;
          box-shadow: $standard-box-shadow;
          color: $color-white;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          &.outlined {
            border: 2px solid $color-green;
            background-color: transparent;
            font-weight: 500;
          }
        }
        > .module-buttons-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 600px;
          @media screen and (max-width: 900px) {
            align-items: flex-start;
            flex-direction: column;
            min-height: 100px;
          }
        }
      }
      > .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: $fweight-light;
        min-width: 300px;
        width: 40%;
        > .form-item:not(:first-child) {
          margin-top: 30px;
        }

        > .forgot-password {
          text-decoration: underline;
          align-self: flex-end;

          font-size: 14px;
        }

        > .talk-to-us-text {
          color: $color-black;

          > .talk-to-us-link {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
