@import "@StyleCommon/other-patterns.scss";
@import "@StyleCommon/fonts.scss";
@import "@StyleCommon/colors.scss";

#header-component {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  > .logo-name {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    position: relative;
    flex: 0.6;
    background-color: $color-white;
    height: 100%;
    box-shadow: $standard-box-shadow;

    > .logo {
      $size: 90px;

      height: $size;
      width: $size;

      margin-right: 10px;
    }

    > .name {
      font-size: 27px;
      font-weight: bolder;
      text-align: left;

      color: $color-blue;

      > .compliance-name {
        font-size: 14px;
      }
    }

    > div {
      color: $color-blue;
      padding-left: 16px;
      > .title {
        font-size: 32px;
      }
      > .sub-title {
        font-size: 20px;
        font-weight: bolder;
        text-align: left;
      }
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -90px;
      border-top: 110px solid $color-white;
      border-right: 90px solid transparent;
    }
  }

  > .visits-card {
    display: flex;
    align-items: flex-start;
    padding: 40px 30px;
    margin-left: 70px;
    margin-right: auto;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    color: rgb(241, 241, 241);
    border-radius: 10%;
  }

  > .user-menu {
    display: flex;
    flex: 0.3;
    align-self: center;
    padding: 10px;
    max-height: 50px;
    > .avatar-img {
      border-radius: 50%;
      background-color: rgba(241, 241, 241, 0.8);
      box-shadow: $standard-box-shadow;
      padding: 8px;
    }
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 16px;
      color: rgb(241, 241, 241);
      > .user-name {
        font-weight: 600;
        font-size: 24px;
      }

      > .user-role {
        font-weight: 400;
        font-size: 14px;
      }
    }
    > .user-menu-button {
      margin-left: 12px;
    }
  }
}
