@import '@StyleCommon/other-patterns.scss';
@import '@StyleCommon/fonts.scss';
@import '@StyleCommon/colors.scss';

#header-component {
    padding: 10px 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    box-shadow: $standard-box-shadow;

    background-color: $color-white;

    > .logo-name {
        display: flex;
        align-items: center;

        > .logo {
            $size: 90px;

            height: $size;
            width: $size;

            margin-right: 10px;
        }

        > .name {
            font-size: 27px;
            font-weight: bolder;
            text-align: left;

            color: $color-blue;

            > .compliance-name {
                font-size: 14px;
            }
        }
    }
}
