@import "@StyleCommon/mixins.scss";
@import "@StyleCommon/fonts.scss";
@import "@StyleCommon/other-patterns.scss";

#report-page {
  @include page-basic;
  > main {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  > .content {
    flex: 1;
    padding: 20px;
    > .title {
      font-size: 60px;
      font-weight: $fweight-regular;
      text-align: center;
      padding: 16px 0;
    }

    .switch-wrapper {
      margin: 15px 0;

      > .switch-label {
        color: $color-black !important;
        font-weight: $fweight-light;

        &.-active {
          font-weight: $fweight-regular;
          color: $color-green !important;
        }
      }

      > .switch {
        width: 100px;
      }
    }

    > .form-section {
      flex: 1;
      max-width: 800px;
      align-self: center;
      display: flex;
      border-radius: 8px;
      background: white;
      box-shadow: $standard-box-shadow;
      padding: 16px;

      > .report-form {
        flex: 1;
        // width: 50%;

        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;

        .form-item {
          width: 100%;
          margin: 10px;
          margin-bottom: 0;

          label {
            color: $color-green;
          }

          .select-option {
            color: $color-green;
          }

          &.date-picker {
            margin: 0 10px;
            > div {
              margin-top: 10px;
              flex: 1;
            }
          }

          &.half {
            flex: 0.5;
          }

          &.third {
            flex: 0.333;
          }
          &.inline {
            flex-direction: row;
          }
        }

        .email-chip {
          margin: 8px;
          background-color: $color-light-green;
          color: black;
        }

        .report-submit-button {
          background-color: $color-green;
        }
        > .attachments-area {
          border-radius: $border-radius;
          flex: 1;
          display: flex;
          flex-direction: column;
          max-height: 500px;
          padding: 20px;

          > .attachment-dropzone {
            // flex: 1;
            height: 80px;
            color: $color-green;
            background-color: $color-white;
            align-self: center;
            width: 80%;
          }

          > .attachment-list-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            > .title {
              color: $color-green;
              margin: 10px 0;
            }

            > .attachment-list {
              width: 100%;
              flex: 1;

              > .list-item {
                width: 100%;

                padding: 10px 0;
                margin: 5px 0;

                color: $color-black;
                > .attachment-name {
                  display: flex;
                  justify-content: space-between;

                  > .remove-attachment-icon {
                    color: $color-red;
                    cursor: pointer;
                  }
                }

                > .divider {
                  margin: 10px 0;

                  background-color: $color-light-green;
                }
              }
            }
          }
        }

        > .accordion {
          width: 100%;
          box-shadow: none;
          &::before {
            display: none;
          }
          & .accordion-summary-header {
            font-size: 1rem;
            flex-basis: 33.33%;
            flex-shrink: 0;
            font-weight: 500;
          }
          & .accordion-summary-secondaryHeader {
            font-size: 1rem;
            flex-shrink: 0;
            font-weight: 400;
            color: #777;
          }
          & .accordion-details {
            display: flex;
            flex-direction: column;
            & > .form-item {
              flex-direction: row;
              &:not(:first-child) {
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }

    > .success-text {
      text-align: center;
      font-weight: 400;
    }

    > .tracking-field-wrapper {
      display: flex;
      height: 50px;
      border-radius: 8px;
      width: 300px;
      overflow: hidden;
      align-self: center;
      margin: 16px 0;
      > .tracking-field {
        flex: 0.75;
        height: 100%;
        text-align: center;
        color: $color-gray;
        background-color: rgba(0, 0, 0, 0.5);
      }
      > .copy-button {
        flex: 0.25;
        padding: 0 16px;
        height: 100%;
        color: $color-black;
        cursor: pointer;
        font-weight: bold;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 0 8px 8px 0;
        > svg {
          margin-left: 8px;
        }
      }
    }
  }
}
