$color-blue: #0078FD;
$color-green: #00A64E;
$color-light-green: #A5CE32;
$color-gray: #E6E6E6;
$color-orange: #F38B1D;
$color-yellow: #FFCA0A;
$color-red: #C20000;
$color-dark-red: #800011;
$color-white: #FFFFFF;
$color-black: black;
$color-shadow-black: rgba(0, 0, 0, 0.25);